:root {
  --color-neutral-00: #ffffff;
  --color-neutral-10: #f5f5f5;
  --color-neutral-20: #e4eaff;
  --color-neutral-30: #3f4254;
  --color-neutral-35: rgba(63, 66, 84, 0.15);
  --color-neutral-37: rgba(63, 66, 84, 0.5);
  --color-primary-40: #4971ff;
  --color-primary-55: rgba(46, 62, 154, 0.1);
  --color-text-30: #3f4254;
}
